<div class="container">
    <h1>Burgers!</h1>
    <div class="row">
        <div class="col-4 mx-auto">
            <img src="./assets/img/burger.png" alt="Image" class="w-100">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <h2 class="text-center">Available</h2>

            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <li>
                    {{burger_name}}<button class="btn btn-secondary eat-btn" data-id="{{id}}">Eat
                        it!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-6">
            <h2 class="text-center">Devoured</h2>

            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <li>
                    {{burger_name}}
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-6 mx-auto">

            <h2 class="text-center">Add New Burger</h2>

            <div class="form-group">
                <label for="burgerForm">Burger Name:</label>
                <input type="text" id="burgerForm" name="name">
            </div>
            <button id="add-burger-btn" class="btn btn-secondary">Add Burger</button>

        </div>
    </div>
</div>